<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/site.css"></link>
  </head>
  <body>
    {{>menu}}
  <div>
    Movie Detials
  </div>



  </body>
</html>
